<!DOCTYPE html>
{% load static %}
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body style="text-align:center;">
    <h1>dreaming my baby</h1>
    <img src="{% url 'video_feed' %}" width="50%" height="50%"> 
	<table align="center">
		<tr>
			<th> </th>
			<th> </th>
			<th> </th>
			<th align="right">
                <input type="button" class="button1" id="refresh" value="refresh">
            </th>
		</tr>
		<tr>
			<th align="left">alarm settings</th>
			<th> </th>
			<th> </th>
			<th> </th>
		</tr>
		<tr>
			<th align="right">motion</th>
			<th align="left">
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider round"></span>
                </label>
            </th>
			<th align="right">sound</th>
			<th align="left">
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider round"></span>
                </label>
            </th>
		</tr>
	</table>
</body>
</html>
